*{
    margin:0;
    padding:2px ;
}
a{
    text-decoration: none;
    color:blue;
}

a:hover{
    color:red;
}
a:active{
    color:green;
}
a:visited{
   

}
.container{
    width: 80%;
    margin: auto;
}
/* .my-form input[type="submit"]*/.button{ 
    background-color:whitesmoke;
    color:black;
    padding:8px 9px;
    border:none;
}
.button:hover{
    background:red ;
    color: white;
}
.clr{
    clear:both;
}

.box-1{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /*same as above
    font:normal 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/

    line-height: 1.4em ;
    margin:0;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom:5px red solid;

    //same as above
    border:5px red solid;
    border-width:5px;
    /* border-bottom-width:10px; */
    /* border-top-style:dotted; */
    padding:20px;
    margin:20px 0;
    


        }

.box-1 h1{

    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: .2em;
    word-spacing: 1em;

             
        }

.box-2{
    border:3px dashed blue;
    padding:30px;
    margin:20px;

}
.box-2 p{
    margin-bottom:20px;
}

.categories{
    border:3px green solid;
    padding:10px;
    border-radius:3px;
}

.categories h1{
    text-align: center;
          
}
.categories ul{
    padding:0;
    padding-left: 3px;
    list-style: square;
    list-style:none;

}
.categories li{
    padding-bottom:8px;
    border-bottom:solid 1px black;
    /* list-style-image: url('../images/check.png'); */

}
.my-form{
    padding:20px; 

}
 .form-group{ 
     padding-bottom:15px; 
 } 
.my-form label{
    display:block;

}
.my-form input[type="text"], .my-form textarea{
    padding:9px;
    width:100%;
}
.block{
    float:left;
    width:33%;
    border:1px solid ;
    padding:10px; 
    box-sizing:border-box;
}